:root {
  --nav-color-main: #38bdf8;
  --search-bar-color: #ececec;
  --card-left-border: #facc15;
  --font-light: #475569;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 7fr;
}

header {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.header-top {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 3rem;
  margin-top: 2rem;
}

.header-top img {
  margin: 0px 1.5rem;
}

.header-top p {
  font-weight: 600;
}

.search-bar {
  width: 100rem;
  height: 3.5rem;
  background-color: var(--search-bar-color);
  border-radius: 10px;
  margin-right: 10rem;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding-left: 4rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.header-bottom-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-hello-message p:first-child {
  font-size: 1rem;
}

.header-hello-message p:last-child {
  font-weight: 900;
  font-size: 2rem;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 6rem;
}

.header-buttons button {
  background-color: var(--nav-color-main);
  color: white;
  width: 8rem;
  height: 3.5rem;
  border-radius: 15px;
}

nav {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  background-color: var(--nav-color-main);
  display: grid;
  grid-template-rows: 100px 300px 100px;
  row-gap: 10px;
}

.nav-row {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  gap: 2rem;
  color: white;
  font-weight: 600;
}

.nav-row.title {
  font-size: 2.5rem;
  margin-left: 1rem;
}

.nav-row-top,
.nav-row-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--search-bar-color);
  padding-top: 3rem;
}

.projects h3 {
  margin-left: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.card {
  width: 40rem;
  padding-top: 2rem;
  background-color: white;
  padding-left: 3rem;
  padding-bottom: 7rem;
  padding-right: 5rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
  border-radius: 5px;
  border-left: 10px solid var(--card-left-border);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.card p {
  font-size: 1.5rem;
  color: #475569;
}

.announcement-cards, .trending-cards {
  background-color: white;
  padding: 2rem;
  margin-right: 4rem;
  margin-top: 1rem;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.trending-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.trending h3 {
  margin-top: 3rem;
}

.sidebar-card-upper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-width: 5px;
  margin-left: 3rem;
  border-bottom: 2px solid var(--search-bar-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar-card-upper p {
  font-size: 1.3rem;
  color: var(--font-light);
}

.sidebar-card-lower {
  display: flex;
  align-items: center;
  gap: 25px;
}

.sidebar-card-lower-text p:last-child{
  color: var(--font-light);
}
